.quote {
    background-color: #f6fafd;
    display: flex;
    margin-bottom: 5em;
}
.quote blockquote {
    width: 30%;
    align-self: center;
    color: #414141;
    font-size: 16px;
    transform: translateX(70%);
    margin-left: 2em;
}
.quote blockquote p {
    line-height: 2em;
    text-align: left;
    margin-bottom: 1.5em;
}
.quote blockquote cite {
    text-align: left;
    line-height: 1.25em;
}
.quote .author-name {
    color: #000000;
    font-weight: bolder;
}

.quote img {
    width: 25%;
    height: 25%;
    bottom: 0;
    transform: translateX(70%);
    margin-top: 3em;
}